includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            identifier: missingType.iterableValue
    scanDirectories:
        - vendor/php-stubs/wordpress-stubs
