parameters:
    level: 8
    paths:
        - src
        - tests
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            message: '#Offset 1 does not exist on array#'
            path: '%currentWorkingDirectory%/tests/bootstrap.php'
